@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round';
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(133, 174, 185);
  height: 10vh;
  font-size: 1.5rem;
}

h1 {
  color: white;
  font-weight: 550;
  margin-left: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10vh);
  justify-content: center;
  align-items: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(238, 247, 247);
  border-radius: .5rem;
  box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.2);
  height: 75%;
  width: 50%;
}

.checkout h2 {
  font-size: 1.8rem;
}

.checkout input {
  width: 18rem;
  height: 1.8rem;
  padding: .4rem;
}

.checkout .detalles-pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 60%;
}

.checkout .cvv-expiracion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cvv-expiracion .cvv {
  width: 3rem;
  margin-right: 1rem;
}

.cvv-expiracion .expiracion {
  width: 2.8rem;
}

.cvv-expiracion img {
  width: 6rem;
  margin-left: 1rem;
}

.checkout .total-compra {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.total-compra div {
  display: flex;
  justify-content: space-between;
}

.checkout .validate-btn {
  border: none;
  height: 2.5rem;
  width: 5rem;
  background-color: rgb(133, 174, 185);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.validate-btn:hover {
  background-color: rgb(102, 133, 142);
}

/* MODAL */

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(238, 247, 247);
  height: 70%;
  width: 50%;
  border-radius: .5rem;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal h3 {
  font-size: 1.8rem;

}

.modal .shopper-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.modal .close {
  border: none;
  height: 2.5rem;
  width: 5rem;
  background-color: rgb(133, 174, 185);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.modal .close:hover {
  background-color: rgb(115, 150, 160);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.card-info .cargo-a {
  font-weight: 600;
}

.card-issuer {
  width: 4rem;
}